@model string

<h2>Access Token (Administrator role)</h2>

<p>@Model</p>

<a asp-action="Index">Claims</a>
<br />
<a asp-action="Custom">Custom</a>
<br />
<a asp-action="CanRead">CanRead</a>
<br />
<a asp-action="IsAdmin">IsAdmin</a>
<br />