@model string

<h2>Policy</h2>

<p>@Model</p>

<a asp-action="Index">Claims</a>
<br />
<a asp-action="Custom">Custom</a>
<br />
<a asp-action="CanRead">CanRead</a>
<br />
<a asp-action="IsAdmin">IsAdmin</a>
<br />
<a asp-action="AccessToken">Access Token</a>
<br />